<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>
        <div id="chat-items">
{% for chat in chat %}
<!-- for sender -->
{{chat.sender.usr.first_name}} last {{chat.receiver.usr.first_name}}
{% if request.user.id == chat.sender.usr.id and chat.receiver.usr == rec.usr %}
<p>
   <b>sender</b> {{chat.message}} at {{chat.datetime}} by {{chat.sender.usr.first_name}}
</p>

<!-- for receiver -->
{% elif request.user.id == chat.receiver.usr.id and chat.sender.usr == rec.usr %}
<p>
   <b>Receiver</b> {{chat.message}} at {{chat.datetime}} by {{chat.sender.usr.first_name}} 
</p>
{% endif %}
{% endfor %}
</div>
<form action="" id="form" method="post">
{% csrf_token %}
<input type="text" value="{{user.username}}" id="myusername" hidden>
    <input id="data" type="text" name="message" placeholder="Type your Message here........." required>
    <input type="submit" value="Send">
</form>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    // console.log(window.location)
    var formData = $('#form');
    var loc = window.location;
    var wsStart = 'ws://';
    var msgInput = $('#data');
    var chatHolder = $('#chat-items');
    var me = $('#myusername').val();

    if (loc.protocol == 'https:'){
         wsStart = 'wss://'
    }

    var endpoint = wsStart + loc.host + loc.pathname
    var socket = new WebSocket(endpoint);

    socket.onmessage = function(e){
            console.log("message ", e);
            var chatDataMsg = JSON.parse(e.data); 
            chatHolder.append("<p>" + chatDataMsg.message + " by " + chatDataMsg.username + "</p>");
    }
    socket.onopen = function(e){
            console.log("open ", e);
            formData.submit(function(event){
                    event.preventDefault()
                    var msgText = msgInput.val();
                    var finalData = {"message": msgText};
                    socket.send(JSON.stringify(finalData));
                //     msgInput.val('');
                    formData[0].reset(); 
                    chatHolder.append("<p>" + msgText +" via " + me + "</p>");             
                   
            })
            
    }
    socket.onerror = function(e){
            console.log("Error ", e);
    }
    socket.onclose = function(e){
            console.log("Close ", e);
    }

</script>
</body>
</html>