<!doctype html>
{% load static %}
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Sign Up</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="{% static 'vendor/blueimp-file-upload/css/jquery.fileupload.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/blueimp-file-upload/css/jquery.fileupload-ui.css' %}">
  <!-- build:css({.tmp,app}) styles/app.min.css -->
  <link rel="stylesheet" href="{% static 'styles/webfont.css' %}">
  <link rel="stylesheet" href="{% static 'styles/climacons-font.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'styles/font-awesome.css' %}">
  <link rel="stylesheet" href="{% static 'styles/card.css' %}">
  <link rel="stylesheet" href="{% static 'styles/sli.css' %}">
  <link rel="stylesheet" href="{% static 'styles/animate.css' %}">
  <link rel="stylesheet" href="{% static 'styles/app.css' %}">
  <link rel="stylesheet" href="{% static 'styles/app.skins.css' %}">
  <!-- endbuild -->
</head>

<body class="page-loading">
  <!-- page loading spinner -->
  <div class="pageload">
    <div class="pageload-inner">
      <div class="sk-rotating-plane"></div>
    </div>
  </div>
  <!-- /page loading spinner -->
  <div class="app signup usersession">
    <div class="session-wrapper">
      <div class="page-height-o row-equal align-middle">
        <div class="column">
          <div class="card bg-white no-border">
            <div class="card-block">
              <form role="form" class="form-layout" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <div class="text-center m-b">
                  <h4 class="text-uppercase">Register Now</h4>
                  <p>Join a Legal Aid community.</p>
                </div>
                <div class="form-inputs">
                  <div class="name">
                    <label class="text-uppercase">Name</label>
                    <input type="text" class="form-control input-lg first" placeholder="First" name="fname" required>
                    <input type="text" class="form-control input-lg" placeholder="Last" name="lname" required>
                  </div>
                  <label class="text-uppercase">Your current email address</label>
                  <input type="email" class="form-control input-lg" placeholder="Email address" name="email" required>
                  <span style="color: red;">{{email}}</span>
                  <label class="text-uppercase">Choose your username</label>
                  <input type="text" class="form-control input-lg" placeholder="Username" name="uname" required>
                  <span style="color: red;">{{uname}}</span>
                  <label class="text-uppercase">Create a password</label>
                  <input type="password" id="pswd" class="form-control input-lg" placeholder="Password" name="pswd1" required>
                  <label class="text-uppercase">Confirm your password</label>
                  <input type="password" id="cpswd" class="form-control input-lg" placeholder="Confirm password" name="pswd2" required>
                  <span id='message'></span>
                
                <div class="form-group">
                  <label class="col-sm-4 control-label" id="type">Select your type</label>
                  <div class="col-sm-4">
                    <select class="cs-select" id="info" name="usrtype">
                      <option disabled>Status</option>
                      <option value="lawyer">Lawyer</option>
                      <option value="client">Client</option>
                    </select>
                  </div>
                </div> <br><br><br><br>
                <div>
                  <label class="text-uppercase">Address</label>
                  <input  id="otherinfo" type="text" class="form-control input-lg" placeholder="Your Address" name="addr">
                  <label class="text-uppercase">Speciality</label>
                  <input type="text" class="form-control input-lg" placeholder="Area of expertise" name="spclty">
                  <label class="text-uppercase"> About You</label>
                  <textarea name="desc" id="des" cols="62" rows="10"></textarea>
                </div>
               
                <div class="form-group">
                  <label class="col-sm-4 control-label">Choose your picture</label>
                  <div class="col-sm-4">
                   <input type="file" name="profile" id="">
                  </div>
                </div>
              </div>
                <br><br><br><br>
                <button class="btn btn-primary btn-block btn-lg m-b" type="submit">Create Account</button>
                <p class="text-center"><small><em>By clicking Create account you agree to our <a href="#">terms and conditions</a></em></small>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- bottom footer -->
  
    <!-- /bottom footer -->
  </div>
  <!-- build:js({.tmp,app}) scripts/app.min.js -->
  <script src="{% static 'scripts/helpers/modernizr.js' %}"></script>
  <script src="{% static 'vendor/jquery/dist/jquery.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.js' %}"></script>
  <script src="{% static 'vendor/fastclick/lib/fastclick.js' %}"></script>
  <script src="{% static 'vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.js' %}"></script>
  <script src="{% static 'scripts/helpers/smartresize.js' %}"></script>
  <script src="{% static 'scripts/constants.js' %}"></script>
  <script src="{% static 'scripts/main.js' %}"></script>
  <script src="{% static 'scripts/helpers/classie.js' %}"></script>
  <script src="{% static 'scripts/helpers/inputfx.js' %}"></script>
  <script src="{% static 'scripts/helpers/selectfx.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script>
    $('#pswd, #cpswd').on('keyup', function () {
  if ($('#pswd').val() == $('#cpswd').val()) {
    $('#message').html('Password matched').css('color', 'green');
  } 
  else 
    $('#message').html('Password is not same').css('color', 'red');
});
  </script>
   <script>
    (function () {
          [].slice.call(document.querySelectorAll('select.cs-select')).forEach(function (el) {
        new SelectFx(el);
      });
    })();
  </script>
  <script>
    $("#fnivel").change(function () {
  var selected_option = $('#fnivel').val();

  if (selected_option === '2') {
    $('#fnivel2').show();   }
  if (selected_option != '2') {
    $('#fnivel2').hide();   }
})
  </script>
  <!-- endbuild -->
</body>

</html>